<!DOCTYPE html>
<html lang="en">
    <style type="text/css">
        #txbox{
           border: 1px solid black;
           box-shadow: 1px 2px 2px black;
           width: 50%;
           height: auto;
           padding-top: 5%;
           position: absolute;
           border-radius: 100%;
         }
       
       </style>
        <body>
       
        <div id="txbox">
       
           <p>sajfiads ds
               asdfasdf
               dasfasd
               fasdf
               adsf
               afniuasdf sadf asdf sdaf dafs asdf asdfasd fasd fasd fasd fasd f asdf as df asdf asd f sadf as fasd</p>
       
        </div>
       
        </body>
       </html>